{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'home'%}" title="Logo">
                    <img src="{% static 'media/images/logo.png' %}" alt="Restaurant Logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'foods' %}">Foods</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->
    {% for message in messages %}
    {{message}}

    {% endfor%}
    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container">
            
            <form action="{% url 'foods_search' %}" method="POST">
                {% csrf_token %}
                <input type="search" name="search" placeholder="Search for Food.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->

    <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center">Explore Foods</h2>
        {% for x in category %}
            <a href="{% url 'category_foods' x.id %}">
            <div class="box-3 float-container">
                <img src="media/{{x.img}}" alt="Pizza" class="img-responsive img-curve">

                <h3 class="float-text text-white">{{x.title}}</h3>
            </div>
            </a>
        {% endfor %}


            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->

    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">
            <h2 class="text-center">Food Menu</h2>
            {% for n in food  %}
            <div class="food-menu-box">
                <div class="food-menu-img">
                    <img src="media/{{n.fimg}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve" width=50px height=125px>
                </div>

                <div class="food-menu-desc">
                    <h4>{{n.ftitle}}</h4>
                    <p class="food-price">Rs.{{n.price}}</p>
                    <p class="food-detail">
                        {{n.fdesc}}
                    </p>
                    <br>

                    <a href="{% url 'order' n.id %}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
            {% endfor %}

        <div class="clearfix"></div>

            

        </div>

        <p class="text-center">
            <a href="#">See All Foods</a>
        </p>
    </section>
    <!-- fOOD Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Vijay Thapa</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>